$input-prefix-cls: "v-input";

.#{$input-prefix-cls} {
  display: inline-block;
  width: 180px;
}

.#{$input-prefix-cls}-area {
  width: 414px;
}

.#{$input-prefix-cls}-text {
  display: block;
  padding: 3px 10px;
  color: #1f2d3d;
  width: 100%;
  height: 36px;
  line-height: 1;
  outline: none;
  box-sizing: border-box;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #bfcbd9;
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);

  &:hover {
    border-color: #8391a5;
  }

  &:focus {
    border-color: #20a0ff;
  }

  &[disabled],
  &[disabled]:hover
  &[disabled]:focus {
    background-color: #eef1f6;
    border-color: #d1dbe5;
    color: #bbb;
    cursor: not-allowed;
  }
}

.#{$input-prefix-cls}-textarea {
  display: block;
  resize: none;
  padding: 5px 7px;
  line-height: 1.5;
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  color: #1f2d3d;
  outline: none;
  background-color: #fff;
  background-image: none;
  border: 1px solid #bfcbd9;
  border-radius: 4px;
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);

  &:hover {
    border-color: #8391a5;
  }

  &:focus {
    border-color: #20a0ff;
  }
}